{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer un article</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Publier l'article</button>
    {{ form_end(form) }}
{% endblock %}
