@use '../variables' as v;

#scrollToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: v.$bg-color-nav;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    background-color: #0056b3;
  }

  &.show {
    display: block;
    opacity: 1;
  }
}