@use '../variables' as v;

section {
  margin-bottom: 2rem;
  line-height: 1.6;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #444;
}

p {
  margin-bottom: 1rem;
  color: #555;
}

ul {
  margin-left: 2rem; // Pour un peu d'espace à gauche des listes
}

a {
  color: #1a73e8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

address {
  font-style: normal;
  color: #555;
}

section:last-of-type p {
  margin-bottom: 0;
}