@use '../variables' as v;
@use 'sass:color';

.registration-page {
  header {
    text-align: center;
    margin-bottom: v.$spacing-lg;

    h1 {
      font-size: v.$font-size-lg;
    }
  }

  main {
    display: flex;
    justify-content: center;
    padding: v.$spacing-md;

    section {
      max-width: 500px;
      width: 100%;
      padding: v.$spacing-md;
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      p {
        text-align: center;
        margin-bottom: v.$spacing-md;
      }

      fieldset {
        border: none;
        padding: 0;
        margin-bottom: v.$spacing-md;

        legend {
          font-size: v.$font-size-lg;
          margin-bottom: v.$spacing-md;
        }

        .form-group {
          margin-bottom: v.$spacing-md;
          position: relative;

          label {
            display: inline;
            margin-bottom: v.$spacing-xs;
            font-size: v.$font-size-base;
            font-weight: bold;
          }

          span.required {
            color: red;
            font-size: 0.8em;
            display: inline-block;
            line-height: 1;
            margin-left: 2px;
          }

          // Créer un conteneur pour le label et l'étoile
          label, span.required {
            display: inline-block;
            vertical-align: top;
            margin-bottom: v.$spacing-xs;
          }

          input, select {
            display: block;  // Pour s'assurer qu'il commence sur une nouvelle ligne
            width: 100%;
            padding: v.$spacing-xs;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            font-size: v.$font-size-base;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            transition: box-shadow 0.3s, border-color 0.3s;

            &:focus {
              outline: none;
              border-color: v.$bg-color-nav;
              box-shadow: 0 0 5px rgba(v.$bg-color-nav, 0.5);
            }
          }
        }

        button {
          width: 100%;
          padding: v.$spacing-sm;
          background-color: v.$bg-color-btn;
          color: v.$text-color;
          border: none;
          border-radius: 4px;
          font-size: v.$font-size-base;
          cursor: pointer;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          transition: background-color 0.3s, box-shadow 0.3s;
          margin-top: v.$spacing-md;

          &:hover {
            background-color: color.mix(black, v.$hover-color, 10%);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          }

          &:focus {
            outline: none;
            box-shadow: 0 0 5px rgba(v.$bg-color-btn, 0.5);
          }
        }
      }

      .alert {
        background-color: #e74c3c;
        color: white;
        padding: v.$spacing-sm;
        border-radius: 4px;
        margin-bottom: v.$spacing-md;
        text-align: center;
      }
    }
  }
}