{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer un nouvel article</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">Publier</button>
    {{ form_end(form) }}

    <!-- <script>
        document.addEventListener('DOMContentLoaded', function () {
            const agentSelect = document.querySelector('select[name="article[agent]"]');
            const agentImage = document.getElementById('agent-image');

            if (!agentSelect) {
                console.error("L'élément de sélection n'a pas été trouvé.");
                return;
            }

            agentSelect.addEventListener('change', function () {
                const selectedOption = agentSelect.options[agentSelect.selectedIndex];

                if (!selectedOption) {
                    console.error("Aucune option sélectionnée.");
                    return;
                }

                const agentId = selectedOption.value;
                const imageSrc = '{{ asset("images/agents") }}/' + selectedOption.dataset.image;

                if (agentId && agentImage) {
                    agentImage.src = imageSrc;
                    agentImage.style.display = 'block'; // Affiche l'image
                } else {
                    agentImage.style.display = 'none'; // Cache l'image si aucune sélection
                }
            });
        });
    </script>
{% endblock %}
